# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: CI/CD frontend

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout frontend
      uses: actions/checkout@v4

    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: "20"
        cache: 'npm'

    - name: Install npm
      run: npm ci
      
    - name: Test frontend
      run: npm test
      
    - name: Build frontend
      run: npm run build

    - name: Trigger the ci/cd of backend (repository_dispatch)
      env:
        PAT: ${{ secrets.DISPATCH_PAT }}
      run: |
        curl -L \
        -X POST \
        -H "Accept: application/vnd.github+json" \
        -H "Authorization: Bearer $PAT" \
        -H "X-GitHub-Api-Version: 2022-11-28" \
        https://api.github.com/repos/santerikarvola/chartapp-backend/dispatches \
        -d '{"event_type":"frontend_change"}'
